In [100]:
import pandas as pd
import numpy as np

In [101]:
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [102]:
import os

In [103]:
os.chdir("/content/drive/My Drive/Colab Notebooks")

In [104]:
data = pd.read_json('/content/drive/My Drive/Cell_Phones_and_Accessories.json')

In [105]:
data.head(15)

    Rating  ...                                           Prod_img
0        5  ...                                               None
1        5  ...                                               None
2        5  ...                                               None
3        3  ...                                               None
4        4  ...                                               None
5        5  ...                                               None
6        5  ...                                               None
7        5  ...                                               None
8        5  ...                                               None
9        5  ...                                               None
10       1  ...                                               None
11       5  ...                                               None
12       1  ...                                               None
13       4  ...  [https://images-na.ssl-images-amazon.com/image...
14       2  ...                                               None

[15 rows x 11 columns]

In [106]:
data.shape

(760450, 11)

In [107]:
data.isnull().sum()

Rating                   0
Rev_verify               0
Review_Date              0
IC                       0
Prod_meta           352624
Reviewer_Name           91
Review                 530
Rev_summ               355
Review_timestamp         0
Useful              698250
Prod_img            742256
dtype: int64

In [108]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 760450 entries, 0 to 760449
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Rating            760450 non-null  int64
 1   Rev_verify        760450 non-null  bool
 2   Review_Date       760450 non-null  object
 3   IC                760450 non-null  object
 4   Prod_meta         407826 non-null  object
 5   Reviewer_Name     760359 non-null  object
 6   Review            759920 non-null  object
 7   Rev_summ          760095 non-null  object
 8   Review_timestamp  760450 non-null  int64
 9   Useful            62200 non-null   object
 10  Prod_img          18194 non-null   object
dtypes: bool(1), int64(2), object(8)
memory usage: 64.5+ MB

In [109]:
# we will remove the columns which are not much important like- Reviewer_Name,Review_timestamp,Review_Date,Prod_img,Prod_meta,useful
for col in ['Review_Date','Prod_meta','Reviewer_Name','Review_timestamp','Useful','Prod_img']:
  data.drop([col],1,inplace=True)

In [110]:
data.shape

(760450, 5)

In [111]:
# lets check null values in data
data.isnull().sum()

Rating          0
Rev_verify      0
IC              0
Review        530
Rev_summ      355
dtype: int64

In [112]:
# need to handle null values
data=data.dropna()

In [113]:
data.isnull().sum()

Rating        0
Rev_verify    0
IC            0
Review        0
Rev_summ      0
dtype: int64

In [114]:
data.shape

(759602, 5)

In [115]:
# Null vlaues are handled
# lets check data again
data.head(10)

   Rating  ...                                           Rev_summ
0       5  ...                               He's very happy with
1       5  ...                                         Five Stars
2       5  ...              As long as you know how to put it on!
3       3  ...                                  Good case overall
4       4  ...                                    Awesome Battery
5       5  ...                                         Five Stars
6       5  ...              Simple and good quality iPhone 6 case
7       5  ...                                           Perfect!
8       5  ...  Make sure your Items work before you miss the ...
9       5  ...  This clever design combines a battery pack int...

[10 rows x 5 columns]

In [116]:
data['IC'].nunique()

48133

In [117]:
data['IC'].value_counts()

B00VH88CJ0    1125
B005NF5NTK    1105
B019PV2I3G    1033
B00X5RV14Y    1018
B00P7N0320    1011
              ...
B01DWDTDC2       1
B00UAJJJEY       1
B0011FXCL2       1
B0012IZ4JG       1
B0098QKXMM       1
Name: IC, Length: 48133, dtype: int64

In [118]:
# importing libraries
import string

from collections import Counter

import matplotlib.pyplot as plt

from nltk.corpus import stopwords

from nltk.sentiment.vader import SentimentIntensityAnalyzer

from nltk.stem import WordNetLemmatizer

from nltk.tokenize import word_tokenize

import nltk
#nltk.download('vader_lexicon')
import warnings
warnings.filterwarnings('ignore')

In [119]:
data['rev_summary_keyword']=  data['Rev_summ'].str.lower()

In [120]:
data['rev_summary_keyword']

0                                      he's very happy with
1                                                five stars
2                     as long as you know how to put it on!
3                                         good case overall
4                                           awesome battery
                                ...
760445                                           four stars
760446    ... believe that the samsung galaxy car mount ...
760447                                          i love this
760448                                           five stars
760449                                  front cam has hole.
Name: rev_summary_keyword, Length: 759602, dtype: object

In [121]:
# Remove punctuation
data['rev_summary_keyword'] = data['rev_summary_keyword'].str.replace(r'[^\w\d\s]', ' ')

# Replace whitespace between terms with a single space
data['rev_summary_keyword'] = data['rev_summary_keyword'].str.replace(r'\s+', ' ')

# Remove leading and trailing whitespace
data['rev_summary_keyword'] = data['rev_summary_keyword'].str.replace(r'^\s+|\s+?$', '')

In [122]:
# Remove stopwords
import nltk

In [123]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [124]:
from nltk.corpus import  stopwords

In [125]:
stop_words = set(stopwords.words('english') + ['u', 'Ã¼', 'ur', '4', '2', 'im', 'dont', 'doin', 'ure'])

In [126]:
data['rev_summary'] = data['rev_summary_keyword'].apply(lambda x: ' '.join(
    term for term in x.split() if term not in stop_words))

In [127]:
data.head(10)

   Rating  ...                                        rev_summary
0       5  ...                                              happy
1       5  ...                                         five stars
2       5  ...                                      long know put
3       3  ...                                  good case overall
4       4  ...                                    awesome battery
5       5  ...                                         five stars
6       5  ...                  simple good quality iphone 6 case
7       5  ...                                            perfect
8       5  ...       make sure items work miss return window time
9       5  ...  clever design combines battery pack working ip...

[10 rows x 7 columns]

In [128]:
# drop  rev_summary_keyword

data=data.drop(['rev_summary_keyword'],axis=1)

In [129]:
data.shape

(759602, 6)

In [130]:
data.head(5)

   Rating  Rev_verify  ...                               Rev_summ        rev_summary
0       5        True  ...                   He's very happy with              happy
1       5        True  ...                             Five Stars         five stars
2       5        True  ...  As long as you know how to put it on!      long know put
3       3        True  ...                      Good case overall  good case overall
4       4        True  ...                        Awesome Battery    awesome battery

[5 rows x 6 columns]

In [131]:
data.tail(10)

        Rating  ...                                   rev_summary
760440       5  ...                                    five stars
760441       4  ...                          best armband get pay
760442       5  ...                                    five stars
760443       5  ...                           great windows phone
760444       5  ...                                    five stars
760445       4  ...                                    four stars
760446       5  ...  believe samsung galaxy car mount great thing
760447       4  ...                                          love
760448       5  ...                                    five stars
760449       5  ...                                front cam hole

[10 rows x 6 columns]

In [204]:
df=data.copy()

In [180]:
df.shape

(759602, 6)

In [181]:
df.columns

Index(['Rating', 'Rev_verify', 'IC', 'Review', 'Rev_summ', 'rev_summary'], dtype='object')

In [205]:
# we will drop colummns 'Rev_verify','Review','Rev_summ'
for col in ['Rev_verify','Review','Rev_summ']:
  df.drop([col],1,inplace=True)

In [183]:
df.shape

(759602, 3)

In [184]:
df.head(5)

   Rating          IC        rev_summary
0       5  B009XD5TPQ              happy
1       5  B016MF3P3K         five stars
2       5  B008DC8N5G      long know put
3       3  B0089CH3TM  good case overall
4       4  B00AKZWGAC    awesome battery

In [211]:


df['avg rating'] = df.groupby(['IC'])['Rating'].transform(lambda x: (x.mean()))

In [212]:
df['max rating'] = df.groupby(['IC'])['Rating'].transform(lambda x: (x.max()))

In [213]:
df['min rating'] = df.groupby(['IC'])['Rating'].transform(lambda x: (x.min()))

In [225]:
df.head(5)

           IC        rev_summary  avg rating  max rating  min rating
0  B009XD5TPQ              happy    4.500000           5           2
1  B016MF3P3K         five stars    3.636364           5           1
2  B008DC8N5G      long know put    4.090909           5           1
3  B0089CH3TM  good case overall    4.457143           5           1
4  B00AKZWGAC    awesome battery    4.386935           5           1

In [215]:
df.shape

(759602, 6)

In [216]:
# we can drop Rating column
df.drop(['Rating'],1,inplace=True)

In [217]:
df.shape

(759602, 5)

In [231]:
df1=df.copy()

In [232]:
df1.head(10)

           IC  ... min rating
0  B009XD5TPQ  ...          2
1  B016MF3P3K  ...          1
2  B008DC8N5G  ...          1
3  B0089CH3TM  ...          1
4  B00AKZWGAC  ...          1
5  B00MAWPGMI  ...          1
6  B00NB7B4GI  ...          4
7  B00NMR6N7W  ...          4
8  B018V60504  ...          1
9  B00PG8TID6  ...          1

[10 rows x 5 columns]

In [195]:
df1.shape

(759602, 5)

In [233]:
import json

In [236]:
df1.to_json('/content/drive/My Drive/final_data.JSON')

In [228]:

  
# dropping ALL duplicte values 
df1.drop_duplicates(subset ="IC", 
                     keep = False, inplace = True)

In [229]:
df1.shape

(431, 5)

In [230]:
df1.head(10)

               IC  ... min rating
960    B000X39TOM  ...          2
2675   B0006FLA80  ...          5
3757   B00G9FVS56  ...          4
4255   B01H1MITGQ  ...          3
9371   B00JE6BF6O  ...          5
11112  B00BBVG9UC  ...          5
11422  B0091959C0  ...          5
13229  B00QIMGQYS  ...          5
13914  B0188U7DQ2  ...          5
14891  B00G9GZLNU  ...          5

[10 rows x 5 columns]